.rectangle {
  background-color: rgb(64, 56, 57);
  bottom: -30px;
  height: 200px;
  left: -80px;
  min-width: 500px;
  position: relative;
}

.left {
  border-right: 6px rgba(0, 0, 0, .5) solid;
  transform: rotateY(-90deg)  translate3d(-232px, 200px, -252.5px);
}

.front {
  border-right: 3px rgba(0, 0, 0, .5) solid;
  transform: translateZ(20px);
}

.rectangle2 {
  background: #282828;
  box-shadow: inset 0px -10px 10px 0px rgba(0,0,0,0.7);
  height: 20px;
  width: 100%;
}

.windows {
  background: #828080;
  display: inline-block;
  height: 8px;
  margin-left: 40px;
  margin-top: 30px;
  width: 50px;
}

.window-bottom {
  background: #828080;
  height: 30px;
  margin: 0 auto;
  width: 88%;
}

.logo{
  bottom: -80px;
  font-family: 'Anton', sans-serif;
  left: -20px;
  perspective: 1000px;
  pointer-events: none;
  position: fixed;
}

.logo-text {
  color: #fce3db;
  margin-bottom: -110px;
  margin-left: 110px;
  text-shadow: 0 0 5px black;
  transform: translate3d(-225px, 0, -250px);
  -webkit-text-stroke: 4px #4d5587;
}

.small-name {
  font-size: 95px;
  letter-spacing: -4px;
  margin-bottom: -110px;
  padding-left: 8px;
}

.big-name {
  font-size: 250px;
  letter-spacing: -2px;
  text-transform: uppercase;
  transform: scale(1, .7);
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(40deg) rotateY(-32deg);
}

body {
  background-color: #00083d;
}

li {
  list-style: none;
}

.nav-items {
  position: fixed;
  right: 10px;
  text-align: right;
  top: 0;
}

ul {
  display: inline;
  padding-left: 10px;
}

a {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #fce3db;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin: 0;
  text-decoration: none;
  text-shadow: 0 0 5px black;
  transition: all .5s;

  -webkit-text-stroke: .2px #4d5587;
}

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

canvas {
  position: absolute;
}

.projects {
  color: #fce3db;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  position: fixed;
  right: 10px;
  top: 30px;
  transition: opacity .5s;

  .project {
    background-color: #403839;
    cursor: pointer;
    height: 220px;
    margin-bottom: 10px;
    padding: 15px;
    width: 250px;
  }

  .project-img {
    background-size: 100% 100%;
    height: 120px;
    margin-top: -5px;
    width: 100%;
  }

  #dotastalk{
    background: url('../img/dotastalk.jpg');
  }

  #dotabingo{
    background: url('../img/dotabingo.jpg');
  }

  p {
    font-size: 13px;
    margin: 0;
  }
  h3 {
    margin: 5px 0;
  }
}
